{% extends 'base.html' %}

{% block title %}{{book_verses.0.book_id.book}} {{book_verses.0.chapter}} - Católico Fiel{% endblock %}


{% block content %}
<div class="container">
    <div class="row col-sd-10 col-md-7 col-lg-5 mx-auto mb-3">
        <form action="{% url 'bible_search' %}" method="POST" class="form-inline my-2 my-lg-0">{% csrf_token %}
            <input class="form-control" type="text" name="bible_search" placeholder="Buscar na Bíblia" aria-label="Search">
        </form>
    </div>
    <div class="row">
    <h2>{{book_verses.0.book_id.book}} {{book_verses.0.chapter}}</h2>
        <div class="col-12">
        {% for this_verse in book_verses %}
            <p>
                <a id="{{this_verse.verse}}">{{this_verse.verse}}</a>. {{this_verse.text}} 
                <button id="botao{{this_verse.verse}}" class="btn btn-outline-success" onclick="toggleForm('form{{this_verse.verse}}')"> (✏️)</button>
            </p>
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center gap-2 d-block">
            <a href="/biblia/{{ previous_chapter.book_id.abbreviation|lower }}/{{ previous_chapter.chapter }}" class="px-2 m-3 btn btn-primary btn-sm">« {{ previous_chapter.book_id.book }} {{ previous_chapter.chapter }}</a>
            <a href="/biblia/{{ next_chapter.book_id.abbreviation|lower }}/{{ next_chapter.chapter }}" class="px-2 m-3 btn btn-primary btn-sm">{{ next_chapter.book_id.book }} {{ next_chapter.chapter }} »</a>
        </div>
    </div>
</div>


<script>
    function toggleForm(formId) {
      const form = document.getElementById(formId);
      if (form.style.display === 'none' || form.style.display === '') {
          form.style.display = 'block';
      } else {
          form.style.display = 'none';
      }
    }
  
    function alterarClasse(checkbox) {
      if (checkbox.checked) {
        checkbox.classList.remove("bg-danger");
        checkbox.classList.add("bg-success");
        checkbox.value = "1";
      } else {
        checkbox.classList.remove("bg-success");
        checkbox.classList.add("bg-danger");
        checkbox.value = "0";
      }
    }
  
  </script>
{% endblock %}

