{% extends 'base.html' %}

{% block title %}{{book_verses.0.book_id.book}} {{book_verses.0.chapter}} - Católico Fiel{% endblock %}


{% block content %}
<div class="container">
    <div class="row col-sd-10 col-md-7 col-lg-5 mx-auto mb-3">
        <form action="{% url 'bible_search' %}" method="POST" class="form-inline my-2 my-lg-0">{% csrf_token %}
            <input class="form-control" type="text" name="bible_search" placeholder="Buscar na Bíblia" aria-label="Search">
        </form>
    </div>
    <div class="row">
    <h2>{{book_verses.0.book_id.book}} {{book_verses.0.chapter}}</h2>
        <div class="col-12">
        {% for this_verse in book_verses %}
            <div class="row mb-3">
                <div class="col-12">
                    <a id="{{this_verse.verse}}">{{this_verse.verse}}</a>. {{this_verse.text}} 
                    {% if user.is_authenticated %}
                    <a href="#" id="link{{this_verse.id}}" class="text-decoration-none" onclick="toggleForm('form{{this_verse.id}}')">✏️</a>
                </div>
                <div class="col-12">
                    <form class="row" id="form{{this_verse.id}}" action="/biblia/update/" method="POST" enctype="multipart/form-data" style="display: none;" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" class="form-control" name="verse_id" id="verse_id" value="{{this_verse.id}}">
                    <input type="text" class="form-control col-8" name="verse_text" id="verse_text" value="{{this_verse.text}}">
                    <button type="submit" name="verse_save" class="btn btn-success text-white col-2">💾 Salvar</button> 
                    </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center gap-2 d-block">
            <a href="/biblia/{{ previous_chapter.book_id.abbreviation|lower }}/{{ previous_chapter.chapter }}" class="px-2 m-3 btn btn-primary btn-sm">« {{ previous_chapter.book_id.book }} {{ previous_chapter.chapter }}</a>
            <a href="/biblia/{{ next_chapter.book_id.abbreviation|lower }}/{{ next_chapter.chapter }}" class="px-2 m-3 btn btn-primary btn-sm">{{ next_chapter.book_id.book }} {{ next_chapter.chapter }} »</a>
        </div>
    </div>
</div>


<script>
    function toggleForm(formId) {
      const form = document.getElementById(formId);
      if (form.style.display === 'none' || form.style.display === '') {
          form.style.display = 'block';
      } else {
          form.style.display = 'none';
      }
    }  
</script>
{% endblock %}

