{% extends 'base.html' %}

{% block title %}Leitura do Catecismo{% endblock %}


{% block content %}
<div class="container">
    <h2>Catecismo</h2>
    <div class="row col-sd-10 col-md-7 col-lg-5 mx-auto mb-3">
        <form action="{% url 'catechism_search' %}" method="POST" class="form-inline my-2 my-lg-0">{% csrf_token %}
            <input class="form-control" type="text" name="catechism_search" placeholder="Buscar no Catecismo" aria-label="Search">
        </form>
    </div>
    <div class="row" style="text-align: justify;">
    {% for item in paragraphs %}
        <h5>{{ item.title | safe }}</h5>
        <p><a id="{{ item.number }}"></a><strong>{{ item.number }}.</strong> {{ item.text | safe}}</p>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-12 text-center gap-2 d-block">
            <a href="/docs/catecismo/{{ previous_lnk }}" class="px-2 m-3 btn btn-primary btn-sm">« Anterior</a>
            <a href="/docs/catecismo/{{ next_lnk }}" class="px-2 m-3 btn btn-primary btn-sm">Próximo »</a>
        </div>
    </div>
</div>
{% endblock %}
