{% extends 'base.html' %}

{% block title %}Busca no Catecismo{% endblock %}


{% block 'search_term' %} {{search}} {% endblock %}

{% block content %}
<div class="container">

<h2>Catecismo</h2>
<div class="row col-sd-10 col-md-7 col-lg-5 mx-auto mb-3">
    <form action="{% url 'catechism_search' %}" method="POST" class="form-inline">{% csrf_token %}
        <input class="form-control" type="text" name="catechism_search" value="{{search}}" placeholder="Buscar no Catecismo" aria-label="Search">
    </form>
</div>

    <p style="font-size: 1.15em;">
    {% if count > 0 %}
        Encontrados {{ count }} resultados para: <span style="font-weight: 500;">{{search}}</span>
    {% else %}
        Nenhum resultado encontrado para: <span style="font-weight: 500;">{{search}}</span>
    {% endif %}
    </p>

    {% for i in results %}
    <p><strong><a class="text-decoration-none" href="/docs/catecismo/{{ i.number|add:-5 }}-{{ i.number|add:5 }}#{{ i.number }}">{{i.number}}</a>.</strong> {{i.text | safe}} | [{{i.score}}Pts]</p>
    {% endfor %}
</div>
{% endblock %}

